{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7QC3WQFFH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q7QC3WQFFH');
</script>

<!-- Leadinfo tracking code -->
<script>
(function(l,e,a,d,i,n,f,o){
  if(!l[i]){
    l.GlobalLeadinfoNamespace = l.GlobalLeadinfoNamespace || [];
    l.GlobalLeadinfoNamespace.push(i);

    l[i] = function(){
      (l[i].q = l[i].q || []).push(arguments)
    };

    l[i].t = l[i].t || n;
    l[i].q = l[i].q || [];

    o = e.createElement(a);
    f = e.getElementsByTagName(a)[0];

    o.async = 1;
    o.src = d;

    f.parentNode.insertBefore(o,f);
  }
}(
  window,
  document,
  'script',
  'https://cdn.leadinfo.net/ping.js',
  'leadinfo',
  'LI-6A17B2A666E41'
));
</script>